/* selector {
    property: value;
}*/
*{margin:0;padding:0}

* {
box-sizing: border-box
}

* {
font-family: 'Nanum Pen Script', cursive;
}

* {
font-size: 30px;
}

.pod
{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-image: url(../images/calculator.png);
    width: 255px;
    height: 336px;
}


#result {
background-image: url(../images/result.png);
width: 173px;
height: 65px;
margin: 5px;
top: 35px;
left: 35px;
text-align: right
}

.btn {
background-image: url(../images/button.png);
width: 43px;
height: 43px;
margin: 5px;
}

#calculate{
    background-image: url(../images/button.png);
    width: 43px;
    height: 43px;
    top: 251px;
    left: 165px;
}

#box {
    background-image: url(../images/answer.png);
    transform: translate(250px, -75px);
    width: 222px;
    height: 188px;
    /* width: 295px;
    height: 250px; */
    }

.textbox{
    transform: translate(20px, 0px);
    /* background-image: url(../images/dark.png); */
    width: 180px;
    height: 200px;
}

#solution{
    /* transform: translateY(85px); */
    transform: translate(50px, 85px);
    /* text-align: right; */
    /* margin-left: 10%; */
    font-size: 30px;
    color: black;
}

.science{
    background-image: url(../images/seoul_science_center.png);
    transform: translate(300px, 135px);
    width: 113px;
    height: 61px;
}

#operator {
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center
    }


#num-1{
    top: 109px;
    left: 35px;
}

#num-2{
    top: 109px;
    left: 100px;
}

#num-3{
    top: 109px;
    left: 165px;
}

#num-4{
    top: 156px;
    left: 35px;
}

#num-5{
    top: 156px;
    left: 100px;
}

#num-6{
    top: 156px;
    left: 165px;
}

#num-7{
    top: 204px;
    left: 35px;
}

#num-8{
    top: 204px;
    left: 100px;
}

#num-9{
    top: 204px;
    left: 165px;
}


#clear{
    top: 251px;
    left: 35px;
}

#num-0{
    top: 251px;
    left: 100px;
}

/* .box:hover .calcul{transform: translateX(30px);}
.box:hover .btn_1{transform: translateX(-30px);}

.calcul{transform: translateX(0px); transition: all 0.8s ease;} 
.btn_1{transform: translateX(0px); transition: all 0.8s ease;}  */

.container {position: relative}

.btn,#result,#calculate,#box,#textbox,#solution,.science {position: absolute}
#num_1,#num_2,#num_3,#num_4,#num_5,#num_6,#num_7,#num_8,#num_9,#num_0, #clear {position: absolute}

/* #box {position: relative}
#solution {position: absolute} */